#view-box {
    padding-left: 300px;
    height: 100%;
    background-color: #000;
    font-family: "Cabin", sans-serif;


    #view-wrapper {
        width: 720px;
        margin: 0 auto;
        padding-top: 100px;
    }

    .showcase {
        margin: 50px 0;
        width: 100%;
        border: #080808 solid 3px;
    }

    .video-showcase {
        margin: 50px 0;
        border: #080808 solid 3px;
    }

    .gallery {
        margin: 40px 0;
        padding-top: 30px;
        border-top: #3BFFC5 solid 3px;
    }

    .gallery img {
        width: 100%;
        margin: 20px 0;
    }

    h1 {
        margin: 0;
        max-width: 75%;
        font-size: 6em;
        line-height: 75%;
        color: white;
        text-transform: lowercase;
    }

    h2 {
        margin: 0;
        font-size: 2.8em;
        color: #828282;
    }

    p {
        font-size: 1.2em;
        color: #828282;
        line-height: 115%;
        margin: 15px 0;
    }
}




