.main-logo {
    position: fixed;
    top: 40px;
    left: 55px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;

    img {
        width: 95px;
        height: 95px;
        image-rendering: pixelated;
        transition: width 0.3s, height 0.3s;
    }

    img:hover {
        animation: rotate 0.5s steps(4) infinite;
    }

    p {
        margin-top: 9px;
        text-align: center;
        text-transform: uppercase;
        font-family: "Handjet", sans-serif;
        font-size: 2em;
        font-weight: 900;
        transition: opacity 0.3s;
    }
}

.main-logo.scrolled img {
    width: 60px;
    height: 60px;
}

.main-logo.scrolled p {
    opacity: 0;
    pointer-events: none;
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

