
.main-logo {
    position: fixed;
    top: 40px;
    left: 55px;

    img {
        width: 95px;
        height: 95px;
        image-rendering: pixelated;
    }

    p {
        text-align: center;
        text-transform: uppercase;
        font-family: "Handjet", sans-serif;
        font-size: 2em;
        font-weight: 900;
    }
}