#vertical-nav {
    position: fixed;
    top: 60px;
    left: 30px;
    width: 215px;

    .header {
        background-color: #101010;
        border-radius: 15px;
        padding: 0 0 5px 0;
        box-shadow: #030303 0px 0px 56px 0px;


        .top-triangle {
            position: relative;
            width: 100%;
            height: 100px;
            clip-path: polygon(0 0, 100% 0, 0 100%);
            background-color: #3BFFC5;
            z-index: 1;
            border-radius: 15px 15px 0 0;
        }

        .info {
            text-align: center;
            margin-top: -85px;
        }

        .icon {
            position: relative;
            width: 96px;
            image-rendering: pixelated;
            z-index: 2;
        }

        h5 {
            font-family: "Handjet", serif;
            color: white;
            margin: 0;
            font-weight: 300;
            font-size: 3em;
            text-transform: uppercase;
        }
    }

    #nav-info {
        margin-top: 20px;
        width: 100%;
        background-color: #101010;
        box-shadow: #030303 0px 0px 56px 0px;
        border-radius: 15px;

        .project-info {
            padding: 20px 15px;
        }

        canvas {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        canvas:hover {
            cursor: pointer;
        }

        canvas:active {
            cursor: grabbing;
        }


        section {
            padding: 10px 0;

            h4 {
                font-family: "Cabin", sans-serif;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1em;
                margin: 0 0 15px 0;
                padding: 0;
            }
        }

        .button-list {
            list-style-type: none;
            padding: 0;

            li {
                margin: 5px 0;

            }

            a {
                display: block;
                width: 100%;
                font-family: "Handjet", serif;
                font-size: 1.2em;
                padding: 10px 0;
                border-radius: 5px;
                border: none;
                color: white;
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                background-color: #252525;
            }

            .btn-highlight a {
                background-color: #FF523B;
            }
        }
    }


    .nav-footer {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        color: white;
        font-family: "Cabin", sans-serif;

        .socials  {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .socials li {
            display: inline-block;
            width: 17px;
            margin: 0 5px;
        }

        .socials li:hover {
            opacity: 0.5;
        }

        .socials img {
            color: white;
            z-index: 500;

        }

        .copyrights {
            font-size: 0.6em;
            color: #a1a1a1;
        }

        .button-container {
            width: 100%;
        }
    }
}