#vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #080808;
    box-shadow: 0px 0px 0px 16px rgba(8,8,8,0.5), 0px 0px 0px 8px rgba(8,8,8,0.5);

    #nav-wrapper {
        width: 230px;
        margin: 0 auto;
    }

    .top-triangle {
        position: relative;
        width: 100%;
        height: 100px;
        clip-path: polygon(0 0, 100% 0, 0 100%);
        background-color: #3BFFC5;
        z-index: -1;
    }

    .info {
        text-align: center;
        margin-top: -85px;
    }

    .icon {
        width: 96px;
        image-rendering: pixelated;
    }

    h5 {
        font-family: "Handjet", serif;
        color: white;
        margin: 0;
        font-weight: 300;
        font-size: 3em;
    }

    .nav-footer {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        color: white;
        font-family: "Cabin", sans-serif;
    }

    .socials  {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .socials li {
        display: inline-block;
        width: 17px;
        margin: 0 5px;
    }

    .socials li:hover {
        opacity: 0.5;
    }

    .socials img {
        color: white;
        z-index: 500;

    }

    .copyrights {
        font-size: 0.6em;
        color: #a1a1a1;
    }

    .button-container {
        width: 100%;
    }

    .button {
        width: 100%;
        height: 50px;
        color: black;
    }

    .breadcrumbs-nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .breadcrumbs-nav h3 {
        font-family: "Cabin", sans-serif;
        color: #a1a1a1;
        font-weight: bold;
        text-transform: uppercase;
        margin: 15px 0 5px 0;
        padding: 0;
    }

    .breadcrumbs-nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .breadcrumbs-nav li {
        display: inline-block;
        margin: 0 5px;
        line-height: 210%;
        color: white;
        font-family: "handjet", serif;
    }

    .breadcrumbs-nav li a {
        font-family: "handjet", serif;
        font-weight: 700;
        text-decoration: none;
        color: black;
        padding: 4px 6px;
        margin-right: 5px;

    }

    .breadcrumbs-nav li:last-child {
        a {
            color: white;
        }
        span {
            display: none;
        }

    }

}

