canvas.pixel-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    background: transparent;
}

.pixel {
    transition: background 0.2s;
}

.pixel-empty {
    background: transparent !important;
    opacity: 0;
}