
#view {
    height: 100%;
    font-family: 'Inter', sans-serif;

    #wrapper {
        width: 85%;
        margin: 0 auto;
        z-index: 2;
    }

    section {
        width: 100%;
        margin: 0;
        padding: 0 clamp(1rem, 5vw, 2rem);
        box-sizing: border-box;
        background-size: cover;
        background-position: center;

        article {
            position: relative;
            z-index: 2;
            display: flex;
            width: clamp(600px, 50%, 900px);
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: clamp(1rem, 5vw, 2rem);
        }

        &.right article {
            margin-left: auto;
        }

        p {
            max-width: clamp(500px, 90%, 750px);
        }
    }

    .highlight {
        text-decoration: underline;
        text-decoration-color: #3BFFC5;
        text-underline-offset: clamp(5px, 3vw, 20px);
    }


}






