
#view {
    height: 100%;
    font-family: 'Inter', sans-serif;

    #wrapper {
        width: 95%;
        margin: 0 auto;
    }

    #home-page {
        
        section {
            width: 100%;
            min-height: 100vh;
            height: 100vh;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .hook {
            h1, p {
                text-shadow: 0 4px 55px rgba(0, 0, 0, 0.65);
            }

            article {
                margin: 0 15%;
                display: flex;
                text-align: center;
                flex-direction: column;      /* Stack children vertically */
                justify-content: center;
                align-items: center;
                height: 100vh;

                .hook-text {
                    margin-top: 75px;
                    margin-bottom: 20px;
                    max-width: 630px;
                }
            }
        }
    }
}

#view-box {
    height: 100%;
    font-family: "Cabin", sans-serif;


    #view-wrapper {
        width: 95%;
        margin: 0 auto;
        padding-top: 60px;

        section {
            margin:0;
            padding: 58px 0;
            clear: both;
        }

        .showcase {
            margin: 50px 0;
            width: 100%;
            border: #080808 solid 3px;
        }

        .video-showcase::before, .video-showcase::after {
            content: "";
            display: block;
            width: 100%;
            padding-top: 65px;
            z-index: -2;
            background-image: url("utils/assets/video-showcase-decoration.png");
            background-blend-mode: multiply;
            background-repeat: repeat-x;
            filter: invert(100%) sepia(100%) hue-rotate(240deg) saturate(100%);
        }

        .video-showcase::before {
            margin-bottom: -15px;
        }

        .video-showcase::after {
            margin-top: -15px;
            transform: scaleY(-1);
        }

        .video-showcase video {
            width: 100%;
            border-radius: 15px;
            z-index: 5;
            position: relative;
        }

        .gallery-content {
            padding-top: 20px;
        }

        .gallery-content img {
            object-fit: cover;
            width: 45%;
            aspect-ratio:1/1;
            margin: 10px 0;
            margin-right: 4%;
            border: 2px solid #505050;
            border-radius: 10px;
        }

        .link {
            font-family: "Handjet", serif;
            display: inline-block;
            color: #828282;;
            font-size: 2.5em;
            font-weight: normal;
            padding: 0 30px 15px 0;
            text-align: center;
            text-decoration-color: #3BFFC5;
        }

        #home-page {
            .cd-covers-selection {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 40px;
                justify-items: center;
                align-items: center;
                width: 170%; /* wider than wrapper */
                max-width: none;
                margin-left: -35%; /* center and overflow */
                position: relative;
                z-index: 1;
                padding: 40px 0;

            }
        }

        #about-page {

            .intro {
                text-align: center;
                padding-bottom: 50px;
                display: block;
            }

            .title {
                font-family: "Handjet", serif;
                font-size: 2.5em;
                font-weight: 600;
                color: #3BFFC5;
                text-transform: lowercase;
            }

            .grid-category {
                display: grid;
                padding: 50px 0 0 0;
                margin: 0 0 25px 0;
                border-top: 2px dashed #505050;
                grid-template-columns: repeat(6, 1fr);
                gap: 2%;

                h2 {
                    grid-column: span 6;
                }

                .grid-item {
                    margin: 0 0 50px 0;
                    grid-column: span 3;


                    .subtitle {
                        color: white;
                    }

                    .text {
                        font-size: 1em;
                    }
                }
            }

            .achievements, .profile-links {
                border-top: 2px dashed #505050;
                padding: 50px 0 0 0;
                margin: 0 0 25px 0;

                .item {
                    margin: 0 0 50px 0;
                }
            }

        }

        #home-page {

            h1 {
                margin: 0 auto 50px auto;

            }

            .intro-block {
                text-align: center;
            }

        }
    }

    .three-background {
        position: fixed;
        background-color: #000000;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -15;
    }
}




