p.end-of-line {
    padding: 50px 0;
    font-family: "handjet", sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: #828282;
    line-height: 150%;
    margin: 0;
    position: relative;
    animation: none;
    text-transform: uppercase;
    text-align: center;
}

section.end-of-line:hover {
    p.end-of-line {
        animation: glitch 1s infinite;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px #13573F, -2px -2px #3BFFC5;
    }
    20% {
        text-shadow: -2px -2px #13573F, 2px 2px #3BFFC5;
    }
    40% {
        text-shadow: 2px -2px #13573F, -2px 2px #3BFFC5;
    }
    60% {
        text-shadow: -2px 2px #13573F, 2px -2px #3BFFC5;
    }
    80% {
        text-shadow: 2px 2px #13573F, -2px -2px #3BFFC5;
    }
    100% {
        text-shadow: -2px -2px #13573F, 2px 2px #3BFFC5;
    }
}