.breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 5px;
        line-height: 210%;
        color: white;
        font-family: "handjet", serif;
    }

    li a {
        font-family: "handjet", serif;
        font-weight: 700;
        text-decoration: none;
        color: black;
        padding: 4px 6px;
        margin-right: 5px;

    }

    li:last-child {
        a {
            color: white;
        }
        span {
            display: none;
        }
    }
}