#home-page {

    #wrapper {
        z-index: 2;
    }

    h2 {
        margin-bottom: 50px;
    }

    section {
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
    }

    .highlight {
        text-decoration: underline;
        text-decoration-color: #3BFFC5;
        text-underline-offset: 20px;
    }

    .hook {
        h1, p {
            text-shadow: 0 4px 55px rgba(0, 0, 0, 0.65);
            max-width: 1160px;
        }

        article {
            margin: 0 15%;
            display: flex;
            text-align: center;
            flex-direction: column; /* Stack children vertically */
            justify-content: center;
            align-items: center;
            height: 100vh;

            p {
                font-size: 1.5em;
                margin-top: 75px;
                margin-bottom: 20px;
                max-width: 630px;
            }
        }
    }

    .content-section {
        position: relative; /* Ensure the section is the positioning context */
        overflow: hidden; /* Hide the overflowing pixels */

        .pixel-grid {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1; /* Below the article */
            pointer-events: none;
        }

        article {
            position: relative;
            z-index: 2; /* Above the pixel grid */
            display: flex;
            width: 40%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
            margin-left: 5%; /* Add some margin to position the content */
        }

        &.right article {
            margin-left: auto;
            margin-right: 5%; /* Mirror the left margin */
        }

        p {
            max-width: 60%;
            margin-bottom: 30px;
            text-align: left;
        }

        .buttons-container {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}